[submodule "visualizer/ext/glfw"]
	path = visualizer/ext/glfw
	url = git@github.com:glfw/glfw.git
[submodule "visualizer/ext/glad"]
	path = visualizer/ext/glad
	url = https://github.com/Dav1dde/glad/tree/c
	branch = c
