#[submodule "visualizer/ext/glfw"]
#	path = visualizer/ext/glfw
#	url = git@github.com:glfw/glfw.git
#[submodule "visualizer/ext/glad"]
#	path = visualizer/ext/glad
#	url = https://github.com/Dav1dde/glad/tree/c
#	branch = c
[submodule "visualizer/ext/nanogui"]
	path = visualizer/ext/nanogui
	url = https://github.com/wjakob/nanogui
[submodule "interpreter/ext/googletest"]
	path = interpreter/ext/googletest
	url = https://github.com/google/googletest
